body{
    background-color: #1c1c1c;
    color:white;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 9vw;
    margin-bottom: 0px;
    margin-top: 15%;
}

h2{
    font-family: 'Poppins';
    font-size: 4vw;
    margin-top: 0px;
}